/* bussiness profile container */
.bussiness-profile-container {
  display: flex;
  align-items: center;
  padding: 0px 180px;
}
/* project button */
.project-button-container button {
  font-size: 14px;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background-color: #473bf0;
  color: #fff;
  margin: 20px 0px;
}

/* shift bussiness title */
.shift-bussiness-title {
  color: #f64b4b;
  font-size: 13px;
  font-weight: 700;
}

/* shift bussiness heading */
.shift-bussiness-heading {
  color: #161c2d;
  font-weight: 750;
}

/* bussiness profile picture container */
.bussiness-profile-picture-container {
  position: relative;
}
/* bussiness profile details paragraph */
.bussiness-profile-details {
  width: 70%;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
@media screen and (width<= 767px) {
  /* bussiness profile container */
  .bussiness-profile-container {
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 0px;
  }
  /* bussiness profile description container */
  .bussiness-profile-description-container {
    text-align: center;
  }
  /* bussiness profile picture container */
  .bussiness-profile-picture-container {
    text-align: center;
  }
  /* bussiness profile details paragraph */
  .bussiness-profile-details {
    width: 100%;
    padding: 0px 50px;
    text-align: center;
  }
}

@media screen and (768px <= width <= 1023px) {
  /* bussiness profile container  */
  .bussiness-profile-container {
    padding: 0px 80px;
  }
}
